@page
@using Core.Models
@model Web.Pages.CreateScheduleModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Create Schedule";
    var user = await UserManager.GetUserAsync(User);
}


<h1>Create Schedule</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="@Model.Schedule.Title" class="form-control" placeholder="Enter your schedule title..." />
                @*< button type="submit" class="btn btn-primary">Create</button>
                <span asp-validation-for="@Model.workout.Name" class="text-danger"></span> *@
            </div>

            <br />

            <div class="form-group">
               <input asp-for="@Model.Schedule.Description" class="form-control" placeholder="Enter a description for your schedule..." />
            </div>

            <br />

            <div class="form-group">
                <input asp-for="@Model.Schedule.Week" type="datetime" type="date" class="form-control" />
                <p>Choose a date where you would like to have your workout</p>
            </div>

            <br />

            <div class="form-group">

                @foreach(var workout in Model.WorkoutList)
                {
                    <p>@workout.Name <button>Add workout to schedule</button></p>
                }
            </div>




            @* <div class="form-group">

            <label asp-for="Blog.Date" class="control-label"></label>

            <input asp-for="Blog.Date" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" readonly class="form-control" />
            <span asp-validation-for="Blog.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input asp-for="Blog.UserId" value="@user.Id" readonly class="form-control" type="hidden" />
            <span asp-validation-for="Blog.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input asp-for="Blog.Popularity" class="form-control" value="0" readonly type="hidden" />
            <span asp-validation-for="Blog.Popularity" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input asp-for="Blog.SubcategoryId" value="@Model.subcategoryid" readonly class="form-control" type="hidden" />
            <span asp-validation-for="Blog.SubcategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">

            <input type="file" class="form-control" name="UploadedImage">
            <input type="submit" value="Skapa" class="btn btn-primary" />
            </div> *@
        </form>
    </div>
</div>