@page
@model Web.Pages.ShowScheduleModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Show Schedule";
    var user = await UserManager.GetUserAsync(User);

}
@if (Model.CurrentUserScheduleId is null)
{
    <p>You need to create a workout and a schedule before coming here! please press <a class="btn btn-primary" asp-page="/Addworkout">Here</a> to continiue</p>
}
else
{

    @foreach (var schedule in Model.SortedScheduleList)
    {
        <strong class="CenterText">Current workouts in your schedule:</strong>

        <div class="workout-container">
            @foreach (var workout in Model.SortedWorkoutList)
            {
                @foreach(var exercise in Model.SortedExercise)
                {
                    <div class="workout-box" onclick="showPopup('@workout.Title', '@workout.Date', '@workout.Description', '@exercise.Name', '@exercise.Sets', '@exercise.Repetitions')">
                        <strong>@workout.Title</strong>
                        <p>@workout.Date</p>
                        <p>@workout.Description</p>

                    </div>
                    <form method="post">
                        <input type="hidden" name="SelectedWorkoutToRemove" value="@workout.Id" />
                        <button type="submit" class="btn btn-outline-danger">X</button>                     
                    </form>
                }

            }
            
        </div>
    }


    <div id="workoutPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2 id="popupTitle"></h2>
            <p id="popupDate"></p>
            <p id="popupDescription"></p>
            <b>Workout Name: <a id="popupName" style="font-weight: normal"></a></b>
            <br>
            <b>Amount of Sets: <a id="popupSets" style="font-weight: normal"></a></b>
            <br>
            <b>Amount of Repetitions: </b><a id="popupRepetitions" style="font-weight: normal"></a>
        </div>
    </div>

}
