@page
@model Web.Pages.ShowScheduleModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Show Schedule";
    var user = await UserManager.GetUserAsync(User);

}
@if (Model.CurrentUserScheduleId == null)
{
    <p>You need to create a workout and a schedule before coming here! please press <a class="btn btn-primary" asp-page="/Addworkout">Here</a> to continiue</p>
}
else
{
    <strong class="CenterText" style="font-size: 2.5em; font-family: 'Pacifico', cursive; color: white;">Current workouts in your schedule:</strong>

    <div class="workout-container">
        @foreach (var workout in Model.SortedWorkoutList)
        {
            <div class="workout-box">
                <strong>@workout.Title</strong>
                <p>@workout.Date</p>
                <p>@workout.Description</p>

                <ul class="exercise-list">
                    @foreach (var exercise in workout.Exercises)
                    {
                        <li class="exercise-item">
                            @exercise.Name - Sets: @exercise.Sets - Repetitions: @exercise.Repetitions
                        </li>
                    }
                </ul>

                <form method="post">
                    <input type="hidden" name="SelectedWorkoutToRemove" value="@workout.Id" />
                    <button type="submit" class="btn btn-outline-danger">X</button>
                </form>
            </div>
        }
    </div>
   


    <style>
        .workout-box {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 15px;
        }

        .exercise-list {
            list-style-type: none;
            padding-left: 0;
        }

        .exercise-item {
            margin-bottom: 5px;
        }
    </style>


    <div id="workoutPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup()">&times;</span>
            <h2 id="popupTitle"></h2>
            <p id="popupDate"></p>
            <p id="popupDescription"></p>
            <b>Exercise name: <a id="popupName" style="font-weight: normal"></a></b>
            <br>
            <b>Amount of Sets: <a id="popupSets" style="font-weight: normal"></a></b>
            <br>
            <b>Amount of Repetitions: </b><a id="popupRepetitions" style="font-weight: normal"></a>
        </div>
    </div>

}
