@page
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model Web.Pages.WorkoutGeneratorModel
@using Core.Models;
@{
    var user = await UserManager.GetUserAsync(User);

}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <style>

        h3 {
            color: white;
        }

        .ErrorMessageBox {
            background-color: white;
            color: red;
        }
    </style>
    <div class="ErrorMessageBox">
        <p>@Model.ErrorMessage</p>
    </div>

    <h3>Title for workout</h3>
    <input asp-for="@Model.InputValues.WorkoutTitle" type="text"/>
    <span asp-validation-for="@Model.InputValues.WorkoutTitle" class="text-danger"></span>

    <h3>Description for workout</h3>
    <input asp-for="@Model.InputValues.WorkoutDescription" type="text" />
    <span asp-validation-for="@Model.InputValues.WorkoutDescription" class="text-danger"></span>

    <h3>Difficulty</h3>
    <select asp-for="@Model.InputValues.DifficultyCategory">
        @foreach (var difficultyCategory in ListValue.DifficultyCategories)
        {
            foreach (var difficulty in difficultyCategory.Difficulty)
            {
                <option value="@difficulty">@difficulty</option>
            }
        }
    </select>

    <h3>Equipment</h3>
    <select asp-for="@Model.InputValues.WorkoutEquipment">
        @foreach (var workoutEquipment in ListValue.WorkoutEquipments)
        {
            foreach (var equipment in workoutEquipment.Equipment)
            {
                <option value="@equipment">@equipment</option>
            }
        }
    </select>

    <h3>Type</h3>
    <select asp-for="@Model.InputValues.WorkoutType">
        @foreach (var workoutType in ListValue.WorkoutTypes)
        {
            foreach (var type in workoutType.Type)
            {
                <option value="@type">@type</option>
            }
        }
    </select>

    <h3>Muscle</h3>
    <select asp-for="@Model.InputValues.MuscleCategories">
        @foreach (var muscleCategory in ListValue.MuscleCategories)
        {
            foreach (var muscle in muscleCategory.Muscle)
            {
                <option value="@muscle">@muscle</option>
            }
        }
    </select>

    <h3>Workouts per week</h3> 
    <select asp-for="@Model.InputValues.AmountOfWorkouts">
        @foreach (var amountOfWorkout in ListValue.AmountOfWorkouts)
        {
            foreach (var amount in amountOfWorkout.Amount)
            {
                <option value="@amount">@amount</option>
            }
        }
    </select>

    <h3>Exercises per week</h3>
    <select asp-for="@Model.InputValues.AmountOfExercises">
        @foreach (var amountOfExercise in ListValue.AmountOfExercises)
        {
            foreach (var amount in amountOfExercise.Amount)
            {
                <option value="@amount">@amount</option>
            }
        }
    </select>


    <button type="submit">Generate</button>
</form>
